# Heart Disease Pridector
this model is about pridicting the persons disease have weather or not

![Sample Image](our-framework.png)

## problem defination
our problem is hear disease predition

## type of data we have 
we have stractured data and its tables

## importing all dependances

In [5]:
import pandas as pd
import numpy as np
import sklearn as sk

In [9]:
df=pd.read_csv("heart disease.csv")

In [10]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
df.target.value_counts().poly()